/* ===== SIDEBAR PADRÃO ===== */
.sidebar {
  max-width: 200px;
  width: 100%;
  height: 100vh;
  background-color: #0D0D0D;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #1F1F1F;
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  /* Para o mobile funcionar com animação */
  transition: transform 0.3s ease;
  transform: translateX(0);
}

/* Quando sideBarToogle for FALSE */
.closed {
  transform: translateX(-100%);
}

/* ===== SCROLL ===== */
.sidebarTop {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #FF6B00 #1F1F1F;
}

.sidebarTop::-webkit-scrollbar {
  width: 6px;
}

.sidebarTop::-webkit-scrollbar-track {
  background: #1F1F1F;
}

.sidebarTop::-webkit-scrollbar-thumb {
  background-color: #FF6B00;
  border-radius: 10px;
}

/* ===== HEADER ===== */
.sidebarHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 22px;
  border-bottom: 2px solid #3a3a3a;
}

.logoIcon {
  color: #FF6B00;
  font-size: 22px;
}

.sidebarTitle {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
}

/* ===== NAV ===== */
.sidebarNav {
  padding: 20px 0;
}

.sidebarSection {
  font-size: 12px;
  color: #8C8C8C;
  text-transform: uppercase;
  margin: 10px 24px;
  letter-spacing: 1px;
}

.sidebarList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLink {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  gap: 12px;
  padding: 0 20px;
  color: #E0E0E0;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.25s ease;
  font-size: 14px;
}

.navLink:hover {
  background-color: #1F1F1F;
  color: #FF6B00;
}

.navLink.active {
  background-color: #FF6B00;
  color: #FFF;
  font-weight: 600;
}

/* ===== FOOTER ===== */
.sidebarFooter {
  border-top: 1px solid #1F1F1F;
  padding: 20px;
  font-size: 14px;
}

.logout {
  color: #FF6B00;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.logout:hover {
  background-color: #FF6B00;
  color: #FFF;
}

/* Botão menu */
.buttonToogle {
  display: none;
}


/* ===== MOBILE / TABLET ===== */
@media (max-width: 768px) {

  
  .sidebar {
    max-width: 50px;
    width: 100%; 
    overflow: hidden;
  }

  
  .sidebarTitle,
  .sidebarSection,
  .navLink span    {
    display: none;
  }

  .navLink {
    justify-content: center;
    padding: 0;
  }

  
  
}
