/* CardAnalytics.module.css */

.cardAnalytics {
  background-color: #0d0d0d;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 100%;
  max-width: 300px;
  transition: transform 0.2s ease;
}

.cardAnalytics:hover {
  transform: translateY(-4px);
}

.text {
  font-size: 1rem;
  font-weight: 600;
  color: #a6a6a6;
  margin-bottom: 8px;
}

.valor {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; 
  margin-bottom: 12px;
}

.informationAnalytics {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #ffffff;
  gap: 8px;
}

.informationAnalytics i {
  color: #57d219; /* azul */
  font-size: 1.2rem;
}
.informationAnalytics p {
    color: #a6a6a6;
}
