:root {
  --bg-light: #13161b;
  --bg-dark: #13161b;
  --clr: #ff6200;
  --clr-alpha: #13161b;
  --white-color: #fff;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #13161b;
  font-family: Arial, sans-serif;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 24px;
  background-color: #1a1d23;
  border-radius: 10px;
  border: 2px solid var(--clr);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 420px;
}

.loginForm p {
  text-align: center;
  color:var(--white-color);
  font-size: 14px;
}
.loginForm  strong{
  color: #ff6200;
}

.containerImgLogo {
  background-color: var(--clr-alpha);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  color: var(--clr);
  border-radius: 10px;
  margin: auto;
}

.title {
  text-align: center;
  color: var(--white-color);
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  color: var(--white-color);
  font-weight: 600;
}

.inputField {
  padding: 1rem 0.75rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  border: none;
  outline: 2px solid var(--bg-dark);
  background-color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.inputField:focus {
  outline: 2px solid var(--clr);
}

.optionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: var(--bg-dark);
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--white-color);
}

.forgotPassword {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.primaryBtn {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: #f05626;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.primaryBtn:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}
