
.containerFinanceiro {

  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Cabeçalho */
.containerFinanceiroHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titleFinanceiro {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.filtrosFinanceiroContainer {
  display: flex;
  gap: 10px; 
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filtrosFinanceiroContainer input {
   padding: 6px 10px;   
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.8rem;    
  
  max-width: 180px; 
  min-width: 100px;      
  flex: 1;               
}



.actionsFinanceiro button {
  padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
     background-color: #e65c00;
     color: #fff;
}

.actionsFinanceiro button:hover {
  opacity: 0.8;
}

/* Filtros */
.filtrosFinanceiro {
  display: flex;
  gap: 20px;
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #fff;
}

.filtrosFinanceiro label {
  margin-right: 5px;
  font-weight: 500;
}

/* Formulário mais compacto */
.formFinanceiro {
  display: grid;
  
  gap: 8px;
 max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 20px;
}

.formFinanceiro input,
.formFinanceiro select {
  padding: 10px 8px;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: unset;
}

/* Botões do formulário */
.formBtnsFinanceiro {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  
}

.primaryBtnFinanceiro {
  background-color: #ff6a00; 
  color: #fff;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.2s;
}

.primaryBtnFinanceiro:hover {
  opacity: 0.9;
}

.secondaryBtnFinanceiro {
  background-color: #ccc;
  color: #333;
  border: none;
  
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.2s;
}

.secondaryBtnFinanceiro:hover {
  opacity: 0.9;
}

/* Tabela mais compacta */
.tableFinanceiro {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.tableFinanceiro th,
.tableFinanceiro td {
  padding: 6px 8px;
  text-align: left;
    
  border-bottom: 1px solid #ddd;
  font-size: 0.85rem;
}

.tableFinanceiro th {
  height: 50px;
  color: #f3f3f3;
  background-color: #14171d;
  font-weight: 600;
}

.deleteBtnFinanceiro {
  background-color: #ef4444; 
  color: #fff;
  border: none;
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
  transition: 0.2s;
}

.deleteBtnFinanceiro:hover {
  opacity: 0.8;
}
