.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  color: #fff;
  background-color: #0d0d0d;
}

.containerCardAnalytics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.containerGraficos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.graficoContainer {
  background-color: #1a1d23;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ffffff3e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.graficoTitulo h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.graficoTitulo p {
  margin: 5px 0 15px 0;
  font-size: 0.9rem;
  color: #a6a6a6;
}

/* Responsividade */
@media (max-width: 768px) {
  .containerCardAnalytics {
    justify-content: center;
  }

  .graficoContainer {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .graficoTitulo h3 {
    font-size: 1rem;
  }

  .graficoTitulo p {
    font-size: 0.8rem;
  }
}
