.cardAnalytics{
    background-color: #0d0d0d;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    color:#fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.informationAnalytics{
    display: flex;
    align-items: center;
    gap: 5px;
}
.informationAnalytics i{
    color:green
}
.headerAnalytics{
    background-color: red;
    display: flex;
    gap: 15px;
}